# functions
export(scattersmooth, Locmean, Locpoly, WLocmean, WLocpoly, fitFixBP, fitFreeKnots, penReg, penLS)


importFrom(stats, knots, coef, fitted, predict, residuals)

importFrom(Matrix, t, solve, as.vector, diag)

S3method(fitted, locW)
S3method(residuals, locW)
S3method(fitted, FixBreakPointsReg)
S3method(residuals, FixBreakPointsReg)
S3method(coef, FixBreakPointsReg)
S3method(knots, FixBreakPointsReg)
S3method(predict, FixBreakPointsReg)

S3method(fitted, FreeBreakPointsReg)
S3method(residuals, FreeBreakPointsReg)
S3method(coef, FreeBreakPointsReg)


S3method(fitted, penReg)
S3method(residuals, penReg)
S3method(coef, penReg)
S3method(AIC, penReg)
S3method(deviance, penReg)
S3method(plot, penReg)

S3method(fitted, penLS)
S3method(residuals, penLS)
S3method(coef, penLS)
S3method(AIC, penLS)
S3method(deviance, penLS)
S3method(plot, penLS)
